.button {
  padding: clamp(0.4rem, 0.273rem + 0.9vw, 0.8rem)
    clamp(1rem, 0.545rem + 2.27vw, 2rem);
  border-radius: clamp(1rem, 0.714rem + 1.43vw, 3rem);
  border: solid 1px var(--color-primary);
  color: var(--color-primary);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  line-height: 1;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  font-size: clamp(0.7rem, 0.614rem + 0.43vw, 1.3rem);
  will-change: transform;
}

.button:hover {
  background-color: var(--color-primary);
  color: var(--color-background);
}

@media (min-width: 1024px) {
  .button {
    padding: clamp(0.5rem, 0.167rem + 0.52vw, 1rem)
      clamp(1rem, 0.333rem + 1.04vw, 2rem);
    font-size: clamp(0.7rem, 0.233rem + 0.73vw, 1.4rem);
  }

  .button:hover {
    transform: translateY(-2px);
  }
}

@media (min-width: 1440px) {
}

@media (min-width: 1600px) {
}

@media (min-width: 1920px) {
}

@media (min-width: 2560px) {
}
