/* .container {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 375px) {
}

@media (min-width: 412px) {
}

@media (min-width: 430px) {
}

@media (min-width: 768px) {
  .container {
    width: 85%;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}

@media (min-width: 1440px) {
}

@media (min-width: 1600px) {
}

@media (min-width: 1920px) {
}

@media (min-width: 2560px) {
} */
