.footer {
  padding: 2.5rem 0 1.8rem 0;
  background-color: var(--color-font-secondary);
}

.footer_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;
  color: var(--color-font-primary);
}

.footer_logo {
  width: 100%;
  max-width: 70px;
  height: auto;
}

.footer_logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer_links {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.footer_link {
  text-decoration: none;
  color: var(--color-font-primary);
}

.footer_contact_text_value {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  line-height: 1;
  color: var(--color-font-primary);
}

.footer_contact_text_value svg {
  font-size: 1.1rem;
  color: var(--color-font-primary);
}

.footer_social {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  padding: 0.8rem 1.2rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.086);
  border-radius: 0.5rem;
}

.footer_social a {
  color: var(--color-font-primary);
}

.footer_bottom {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--color-font-primary);
}

.footer_bottom_text {
  text-align: left;
  color: var(--color-font-primary);
}

@media (min-width: 375px) {
  .footer {
    padding: 2.5rem 0 2rem 0;
  }

  .footer_container {
    gap: 2.5rem;
  }

  .footer_logo {
    max-width: 75px;
  }

  .footer_top {
    gap: 2rem;
  }

  .footer_links {
    gap: 0.5rem;
  }

  .footer_bottom {
    gap: 2.5rem;
  }
}

@media (min-width: 412px) {
  .footer_container {
    gap: 2.5rem;
  }

  .footer_logo {
    max-width: 80px;
  }

  .footer_top {
    gap: 2rem;
  }

  .footer_links {
    gap: 0.5rem;
  }

  .footer_bottom {
    gap: 2.5rem;
  }
}

@media (min-width: 430px) {
  .footer {
    padding: 3rem 0 2rem 0;
  }

  .footer_container {
    gap: 3rem;
  }

  .footer_logo {
    max-width: 90px;
  }

  .footer_top {
    gap: 2.5rem;
  }

  .footer_links {
    gap: 0.6rem;
  }

  .footer_bottom {
    gap: 3rem;
  }
}

@media (min-width: 740px) {
  .footer {
    padding: 4rem 0 3.5rem 0;
  }

  .footer_container {
    gap: 5rem;
  }

  .footer_logo {
    max-width: 100px;
  }

  .footer_top {
    gap: 3rem;
  }

  .footer_links {
    gap: 0.7rem;
  }

  .footer_bottom {
    flex-direction: row;
    gap: 1.5rem;
  }

  .footer_social {
    gap: 1.4rem;
  }

  .footer_bottom_text {
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .footer_container {
    gap: 7rem;
  }

  .footer {
    padding: 4rem 0 3.5rem 0;
  }

  .footer_top {
    flex-direction: row;
  }

  .footer_bottom {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
  }

  .footer_social {
    gap: 1.5rem;
  }

  .footer_bottom_text {
    text-align: left;
  }
}

@media (min-width: 1280px) {
  .footer {
    padding: 4.5rem 0 4rem 0;
  }

  .footer_container {
    gap: 9rem;
  }

  .footer_logo {
    max-width: 110px;
  }

  .footer_links {
    gap: 1rem;
  }

  .footer_contact_text_value {
    gap: 0.8rem;
  }

  .footer_bottom {
    gap: 4rem;
    align-items: center;
  }

  .footer_social {
    gap: 2rem;
  }
}

@media (min-width: 1440px) {
  .footer_logo {
    max-width: 100px;
  }

  .footer_links {
    gap: 1.5rem;
  }

  .footer_social {
    gap: 1.5rem;
  }

  .footer_contact_text_value {
    gap: 0.9rem;
  }
}

@media (min-width: 1600px) {
  .footer {
    padding: 6rem 0 5.5rem 0;
  }

  .footer_container {
    gap: 10rem;
  }

  .footer_logo {
    max-width: 110px;
  }

  .footer_links {
    gap: 1.5rem;
  }

  .footer_contact_text_value {
    gap: 1rem;
  }

  .footer_bottom {
    gap: 5rem;
  }

  .footer_social {
    gap: 3rem;
  }
}

@media (min-width: 1920px) {
  .footer {
    padding: 7rem 0 6.5rem 0;
  }

  .footer_container {
    gap: 12rem;
  }

  .footer_logo {
    max-width: 120px;
  }

  .footer_links {
    gap: 2rem;
  }

  .footer_contact_text_value {
    gap: 1.1rem;
  }

  .footer_bottom {
    gap: 6rem;
  }

  .footer_social {
    gap: 3rem;
  }
}

@media (min-width: 2560px) {
  .footer {
    padding: 8rem 0 7.5rem 0;
  }

  .footer_container {
    gap: 13rem;
  }

  .footer_logo {
    max-width: 150px;
  }

  .footer_links {
    gap: 2.5rem;
  }

  .footer_contact_text_value {
    gap: 1.2rem;
  }

  .footer_bottom {
    gap: 7rem;
  }

  .footer_social {
    gap: 2.5rem;
  }
}
