.news {
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.news_items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.75rem;
}

.news_item {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 0.7rem;
  gap: 1rem;
  min-height: 110px;
}

/* Hide news items after the 3rd on mobile */
.news_item:nth-child(n + 4) {
  display: none;
}

.news_item_text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
}

.news_item_category {
  font-size: 0.5rem;
  text-transform: lowercase;
  color: var(--color-accent);
  padding: 0.2rem 0.4rem;
  border-radius: 0.4rem;
  border: 1px solid var(--color-accent);
  display: inline-block;
  width: fit-content;
}

.news_item_title {
  font-size: 0.75rem;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

.news_item_info,
.news_item_readingTime,
.news_item_date {
  display: flex;
  align-items: center;
}

.news_item_info {
  gap: 0.5rem;
}

.news_item_readingTime,
.news_item_date {
  font-size: 0.6rem;
  gap: 0.25rem;
  line-height: 1;
  color: var(--color-font-secondary);
  align-items: flex-end;
  justify-content: flex-start;
}

.news_item_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.news_item_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.news_button_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 1024px) {
  .news_button_container {
    margin-top: 2rem;
  }

  .news_button {
    font-size: 0.8rem;
    padding: 0;
    color: var(--color-primary);
    background-color: transparent;
    border: none;
    border-radius: 0rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    justify-content: flex-end;
    line-height: 1;
  }

  .news_button:hover {
    color: var(--color-primary);
    background-color: transparent;
    border: none;
    border-radius: 0rem;
    box-shadow: none;
  }
}

@media (min-width: 375px) {
  .news_item_title {
    font-size: 0.8rem;
  }

  .news_item_readingTime,
  .news_item_date {
    font-size: 0.65rem;
  }

  .news_item_category {
    font-size: 0.6rem;
  }

  .news_item {
    border-radius: 0.5rem;
    padding: 0.8rem;
    gap: 1rem;
    min-height: 120px;
  }
}

@media (min-width: 412px) {
  .news_item_title {
    font-size: 0.9rem;
  }

  .news_item_info {
    gap: 0.8rem;
  }

  .news_item_readingTime,
  .news_item_date {
    font-size: 0.7rem;
    gap: 0.3rem;
  }

  .news_item_category {
    font-size: 0.7rem;
  }

  .news_item {
    border-radius: 0.5rem;
    padding: 0.85rem;
    gap: 1rem;
    min-height: 130px;
  }
}

@media (min-width: 430px) {
  .news_item_title {
    font-size: 1rem;
  }

  .news_item_info {
    gap: 1rem;
  }

  .news_item_readingTime,
  .news_item_date {
    font-size: 0.8rem;
    gap: 0.4rem;
  }

  .news_item_category {
    font-size: 0.7rem;
  }

  .news_item {
    border-radius: 0.5rem;
    padding: 0.85rem;
    gap: 1rem;
    min-height: 135px;
    gap: 1.4rem;
  }
}

@media (min-width: 768px) {
  .news_item_title {
    font-size: 1.3rem;
  }

  .news_item_info {
    gap: 1.2rem;
  }

  .news_item_readingTime,
  .news_item_date {
    font-size: 0.9rem;
    gap: 0.4rem;
  }

  .news_item_category {
    font-size: 0.8rem;
  }

  .news_item {
    border-radius: 0.5rem;
    padding: 1rem;
    min-height: 135px;
    gap: 2rem;
  }

  .news_button_container {
    margin-top: 3rem;
  }

  .news_button {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .news_items {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(140px, 1fr);
  }

  .news_item:nth-child(n + 7) {
    display: grid;
  }

  .news_item:first-of-type {
    grid-row: span 3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .news_item:first-of-type .news_item_text {
    flex: 1;
  }

  .news_item:first-of-type .news_item_image {
    order: -1;
    flex: 2.5;
    overflow: hidden;
  }

  .news_item:first-of-type .news_item_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .news_item {
    border-radius: 0.5rem;
    padding: 1rem;
    gap: 1.5rem;
    gap: 1.4rem;
    min-height: 140px;
  }

  .news_item_title {
    font-size: 1.1rem;
  }

  .news_item_info {
    gap: 1rem;
  }

  .news_item_readingTime,
  .news_item_date {
    font-size: 0.8rem;
    gap: 0.3rem;
  }

  .news_item_category {
    font-size: 0.7rem;
  }

  .news_button {
    border: 2px solid var(--color-primary);
    background-color: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
  }

  .news_button:hover {
    background-color: var(--color-primary);
    color: var(--color-background);
    border: 1px solid var(--color-primary);
    box-shadow: 0 4px 12px rgba(63, 63, 63, 0.3);
  }
}

@media (min-width: 1280px) {
  .news_item {
    min-height: 160px;
  }

  .news_item_title {
    font-size: 1.2rem;
  }

  .news_item_info {
    gap: 1.2rem;
  }

  .news_item_readingTime,
  .news_item_date {
    font-size: 0.9rem;
    gap: 0.4rem;
  }

  .news_item_category {
    font-size: 0.8rem;
  }

  .news_button_icon {
    display: none;
  }
}

@media (min-width: 1440px) {
  .news_items {
    gap: 1.5rem;
  }

  .news_item {
    min-height: 140px;
    padding: 1.5rem;
    border-radius: 1rem;
  }
  .news_item_title {
    font-size: 1.3rem;
  }
}

@media (min-width: 1600px) {
  .news_item {
    padding: 1.5rem;
    border-radius: 1rem;
  }

  .news_item_title {
    font-size: 1.4rem;
  }

  .news_item_category {
    font-size: 0.9rem;
  }

  .news_item_date,
  .news_item_readingTime {
    font-size: 1rem;
  }

  .news_button {
    font-size: 1.2rem;
  }
}

@media (min-width: 1920px) {
  .news_item_title {
    font-size: 1.8rem;
  }

  .news_item_category {
    font-size: 1rem;
  }

  .news_item_date,
  .news_item_readingTime {
    font-size: 1.1rem;
  }

  .news_button {
    font-size: 1.3rem;
  }

  .news_items {
    gap: 2rem;
  }
}

@media (min-width: 2560px) {
  .news_item_title {
    font-size: 2rem;
  }

  .news_item_category {
    font-size: 1.3rem;
  }

  .news_item_date,
  .news_item_readingTime {
    font-size: 1.3rem;
  }

  .news_button {
    font-size: 1.4rem;
  }

  .news_items {
    gap: 2.5rem;
  }
}
