.pageUnderConstruction {
  background-color: var(--color-background);
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.pageUnderConstruction_container {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 1.4rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pageUnderConstruction_text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pageUnderConstruction_contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pageUnderConstruction_title {
  font-size: 1.3rem;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.2;
}

.pageUnderConstruction_title_accent {
  position: relative;
  display: inline-block;
  isolation: isolate;
}

.pageUnderConstruction_title_accent::before {
  content: "";
  position: absolute;
  bottom: 15%;
  left: 0;
  right: 0;
  height: 0.35em;
  background-color: var(--color-accent);
}

.pageUnderConstruction_subtitle {
  font-size: 0.65rem;
  color: var(--color-font-secondary);
}

.pageUnderConstruction_contact_email {
  font-size: 0.7rem;
  text-align: center;
  padding: 0.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--color-primary);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.pageUnderConstruction_contact_email svg {
  font-size: 0.9rem;
  display: inline-block;
  margin-right: 0.3rem;
}

.pageUnderConstruction_contact_email a {
  text-decoration: none;
  color: var(--color-background);
  line-height: 1;
}

.pageUnderConstruction_social_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  color: var(--color-primary);
}

.pageUnderConstruction_social_links a {
  font-size: 1rem;
}

@media (min-width: 375px) {
  .pageUnderConstruction {
    padding-top: 6.5rem;
    padding-bottom: 2rem;
  }

  .pageUnderConstruction_container {
    padding: 1.5rem;
    gap: 1.1rem;
  }

  .pageUnderConstruction_text {
    gap: 1.1rem;
  }

  .pageUnderConstruction_contact {
    gap: 1.1rem;
  }

  .pageUnderConstruction_contact_email svg {
    font-size: 1rem;
    margin-right: 0.4rem;
  }

  .pageUnderConstruction_title {
    font-size: 1.4rem;
  }

  .pageUnderConstruction_subtitle {
    font-size: 0.75rem;
  }

  .pageUnderConstruction_contact_email {
    font-size: 0.8rem;
    padding: 0.6rem;
  }

  .pageUnderConstruction_social_links a {
    font-size: 1.1rem;
  }
}

@media (min-width: 412px) {
  .pageUnderConstruction {
    padding-top: 6.8rem;
    padding-bottom: 2.2rem;
  }

  .pageUnderConstruction_container {
    padding: 1.6rem;
    gap: 1.2rem;
  }

  .pageUnderConstruction_text {
    gap: 1.2rem;
  }

  .pageUnderConstruction_contact {
    gap: 1.2rem;
  }

  .pageUnderConstruction_contact_email svg {
    font-size: 1.1rem;
    margin-right: 0.5rem;
  }

  .pageUnderConstruction_title {
    font-size: 1.5rem;
  }

  .pageUnderConstruction_subtitle {
    font-size: 0.85rem;
  }

  .pageUnderConstruction_contact_email {
    font-size: 0.9rem;
    padding: 0.6rem;
  }

  .pageUnderConstruction_social_links a {
    font-size: 1.2rem;
  }
}

@media (min-width: 430px) {
  .pageUnderConstruction {
    padding-top: 7rem;
    padding-bottom: 2.5rem;
  }

  .pageUnderConstruction_container {
    padding: 1.7rem;
    gap: 1.5rem;
  }

  .pageUnderConstruction_text {
    gap: 1.5rem;
  }

  .pageUnderConstruction_contact {
    gap: 1.5rem;
  }

  .pageUnderConstruction_title {
    font-size: 1.6rem;
  }

  .pageUnderConstruction_subtitle {
    font-size: 0.9rem;
  }

  .pageUnderConstruction_contact_email {
    font-size: 1rem;
    padding: 0.6rem;
  }

  .pageUnderConstruction_social_links a {
    font-size: 1.3rem;
  }
}

@media (min-width: 740px) {
  .pageUnderConstruction {
    padding-top: 8rem;
    padding-bottom: 3rem;
  }

  .pageUnderConstruction_container {
    padding: 2.4rem;
    gap: 2rem;
  }

  .pageUnderConstruction_text {
    gap: 2rem;
  }

  .pageUnderConstruction_contact {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    align-items: center;
  }

  .pageUnderConstruction_contact .pageUnderConstruction_subtitle {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .pageUnderConstruction_contact_email svg {
    font-size: 1.3rem;
    margin-right: 0.6rem;
  }

  .pageUnderConstruction_title {
    font-size: 2.7rem;
  }

  .pageUnderConstruction_subtitle {
    font-size: 1.3rem;
  }

  .pageUnderConstruction_contact_email {
    font-size: 1.3rem;
    padding: 0.8rem;
    height: fit-content;
  }

  .pageUnderConstruction_social_links {
    height: fit-content;
  }

  .pageUnderConstruction_social_links a {
    font-size: 1.8rem;
  }
}

@media (min-width: 1024px) {
  .pageUnderConstruction {
    padding-top: 8.5rem;
    padding-bottom: 3.5rem;
  }

  .pageUnderConstruction_container {
    padding: 3rem;
    gap: 2rem;
  }

  .pageUnderConstruction_text {
    gap: 2rem;
  }

  .pageUnderConstruction_contact {
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }

  .pageUnderConstruction_title {
    font-size: 3rem;
  }

  .pageUnderConstruction_subtitle {
    font-size: 1.5rem;
  }

  .pageUnderConstruction_contact_email {
    font-size: 1.4rem;
  }

  .pageUnderConstruction_contact_email svg {
    font-size: 1.4rem;
  }

  .pageUnderConstruction_social_links a {
    font-size: 2rem;
  }
}

@media (min-width: 1280px) {
  .pageUnderConstruction {
    padding-top: 10rem;
    padding-bottom: 3.5rem;
  }

  .pageUnderConstruction_container {
    padding: 3rem;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    gap: 2rem;
  }

  .pageUnderConstruction_text {
    gap: 1.5rem;
  }

  .pageUnderConstruction_contact {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .pageUnderConstruction_title {
    font-size: 3rem;
  }

  .pageUnderConstruction_subtitle {
    font-size: 1.2rem;
  }

  .pageUnderConstruction_contact_email {
    font-size: 1.2rem;
    width: 100%;
  }

  .pageUnderConstruction_contact_email svg {
    font-size: 1.3rem;
  }

  .pageUnderConstruction_social_links {
    width: 100%;
  }

  .pageUnderConstruction_social_links a {
    font-size: 1.8rem;
  }
}

@media (min-width: 1440px) {
  .pageUnderConstruction {
    padding-top: 10rem;
    padding-bottom: 3.5rem;
  }

  .pageUnderConstruction_container {
    padding: 4rem;
    gap: 2.5rem;
  }

  .pageUnderConstruction_contact {
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }

  .pageUnderConstruction_title {
    font-size: 3.3rem;
  }

  .pageUnderConstruction_subtitle {
    font-size: 1.3rem;
  }

  .pageUnderConstruction_contact_email {
    font-size: 1.3rem;
  }

  .pageUnderConstruction_contact_email svg {
    font-size: 1.4rem;
  }

  .pageUnderConstruction_social_links a {
    font-size: 2rem;
  }
}

@media (min-width: 1600px) {
  .pageUnderConstruction {
    padding-top: 10rem;
    padding-bottom: 3.5rem;
  }

  .pageUnderConstruction_container {
    padding: 4rem;
    gap: 2rem;
  }

  .pageUnderConstruction_text {
    gap: 2rem;
  }

  .pageUnderConstruction_contact {
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }

  .pageUnderConstruction_title {
    font-size: 3.6rem;
  }

  .pageUnderConstruction_subtitle {
    font-size: 1.4rem;
  }

  .pageUnderConstruction_contact_email {
    font-size: 1.4rem;
  }

  .pageUnderConstruction_contact_email svg {
    font-size: 1.4rem;
  }

  .pageUnderConstruction_social_links a {
    font-size: 2rem;
  }
}

@media (min-width: 1920px) {
  .pageUnderConstruction {
    padding-top: 10.5rem;
    padding-bottom: 4rem;
  }

  .pageUnderConstruction_container {
    padding: 4rem;
    gap: 3.5rem;
  }

  .pageUnderConstruction_text {
    gap: 2rem;
  }

  .pageUnderConstruction_contact {
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }

  .pageUnderConstruction_title {
    font-size: 3.6rem;
  }

  .pageUnderConstruction_subtitle {
    font-size: 1.7rem;
  }

  .pageUnderConstruction_contact_email {
    font-size: 1.7rem;
  }

  .pageUnderConstruction_contact_email svg {
    font-size: 1.8rem;
  }

  .pageUnderConstruction_social_links a {
    font-size: 2.4rem;
  }
}

@media (min-width: 2560px) {
  .pageUnderConstruction {
    padding-top: 13rem;
    padding-bottom: 5.5rem;
  }

  .pageUnderConstruction_container {
    padding: 4rem;
    gap: 4rem;
  }

  .pageUnderConstruction_text {
    gap: 2.5rem;
  }

  .pageUnderConstruction_contact {
    gap: 2.5rem;
    grid-template-columns: 1fr 1fr;
  }

  .pageUnderConstruction_title {
    font-size: 4.4rem;
  }

  .pageUnderConstruction_subtitle {
    font-size: 2rem;
  }

  .pageUnderConstruction_contact_email {
    font-size: 2rem;
  }

  .pageUnderConstruction_contact_email svg {
    font-size: 2.2rem;
  }

  .pageUnderConstruction_social_links a {
    font-size: 3rem;
  }
}
