.pageUnderConstruction {
  background-color: var(--color-background);
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.pageUnderConstruction_container {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 1.4rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pageUnderConstruction_title {
  font-size: 1.3rem;
  font-weight: 900;
  text-transform: uppercase;
}

.pageUnderConstruction_title_accent {
  position: relative;
  display: inline-block;
  isolation: isolate;
}

.pageUnderConstruction_title_accent::before {
  content: "";
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  height: 0.35em;
  background-color: var(--color-accent);
}

.pageUnderConstruction_subtitle {
  font-size: 0.65rem;
  color: var(--color-font-secondary);
}

.pageUnderConstruction_contact_email {
  font-size: 0.7rem;
  text-align: center;
  padding: 0.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--color-primary);
  border-radius: 0.5rem;
}

.pageUnderConstruction_contact_email a {
  text-decoration: none;
  color: var(--color-background);
}

.pageUnderConstruction_social_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  color: var(--color-primary);
}

.pageUnderConstruction_social_links a {
  font-size: 1rem;
}

@media (min-width: 375px) {
  .pageUnderConstruction {
    padding-top: 6.5rem;
    padding-bottom: 2rem;
  }

  .pageUnderConstruction_container {
    padding: 1.5rem;
    gap: 1.1rem;
  }

  .pageUnderConstruction_title {
    font-size: 1.4rem;
  }

  .pageUnderConstruction_subtitle {
    font-size: 0.75rem;
  }

  .pageUnderConstruction_contact_email {
    font-size: 0.8rem;
    padding: 0.6rem;
  }

  .pageUnderConstruction_social_links a {
    font-size: 1.1rem;
  }
}

@media (min-width: 412px) {
  .pageUnderConstruction {
    padding-top: 6.8rem;
    padding-bottom: 2.2rem;
  }

  .pageUnderConstruction_container {
    padding: 1.6rem;
    gap: 1.2rem;
  }

  .pageUnderConstruction_title {
    font-size: 1.5rem;
  }

  .pageUnderConstruction_subtitle {
    font-size: 0.85rem;
  }

  .pageUnderConstruction_contact_email {
    font-size: 0.9rem;
    padding: 0.6rem;
  }

  .pageUnderConstruction_social_links a {
    font-size: 1.2rem;
  }
}

@media (min-width: 430px) {
  .pageUnderConstruction {
    padding-top: 7rem;
    padding-bottom: 2.5rem;
  }

  .pageUnderConstruction_container {
    padding: 1.7rem;
    gap: 1.5rem;
  }

  .pageUnderConstruction_title {
    font-size: 1.5rem;
  }

  .pageUnderConstruction_subtitle {
    font-size: 0.9rem;
  }

  .pageUnderConstruction_contact_email {
    font-size: 1rem;
    padding: 0.6rem;
  }

  .pageUnderConstruction_social_links a {
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
  .pageUnderConstruction_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pageUnderConstruction_text {
    order: 2;
  }
}

@media (min-width: 1440px) {
}

@media (min-width: 1600px) {
}

@media (min-width: 1920px) {
}

@media (min-width: 2560px) {
}
