.publications {
  padding-bottom: 2rem;
  padding-top: 2rem;
  background: url("/img/gradients/publi_gradient.jpg") no-repeat center center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.publications_title {
  isolation: isolate;
  color: var(--color-background);
}

.publications_items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.4rem;
}

.publications_item:nth-child(n + 3) {
  display: none;
}

.publications_item {
  display: grid;
  grid-template-columns: 2fr 3fr;
  border-radius: 0.5rem;
  overflow: hidden;
  gap: 1rem;
}

.publications_item_image {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 5;
  border-radius: 0.5rem;
  overflow: hidden;
}

.publications_item_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.publications_item_type {
  font-size: 0.5rem;
  text-transform: lowercase;
  color: var(--color-accent);
  padding: 0.2rem 0.4rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-accent);
  display: inline-block;
  width: fit-content;
}

.publications_item_title_author {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  color: var(--color-background);
}

.publications_item_title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
  padding-top: 0.5rem;
  font-weight: 700;
  font-size: 0.8rem;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

.publications_item_authors {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
}

.publications_item_author {
  font-size: 0.7rem;
  margin: 0;
  line-height: 1.1;
}

.publications_item_download {
  font-size: 1rem;
  color: var(--color-background);
  background-color: var(--color-accent);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.publications_item_download svg {
  font-size: 0.7rem;
}

.publications_item_download:hover {
  background-color: #f1a00a;
}

.publications_button_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 1024px) {
  .publications_button_container {
    margin-top: 2rem;
  }

  .publications_button {
    font-size: 0.8rem;
    padding: 0;
    color: var(--color-background);
    background-color: transparent;
    border: none;
    border-radius: 0rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    justify-content: flex-end;
    line-height: 1;
  }

  .publications_button:hover {
    color: var(--color-background);
    background-color: transparent;
    border: none;
    border-radius: 0rem;
    box-shadow: none;
  }
}

@media (min-width: 375px) {
  .publications_item_type {
    font-size: 0.6rem;
    padding: 0.2rem 0.5rem;
  }

  .publications_item_title {
    gap: 0.5rem;
    font-size: 0.9rem;
  }

  .publications_item_author {
    font-size: 0.8rem;
  }
}

@media (min-width: 412px) {
  .publications_item_type {
    font-size: 0.7rem;
  }

  .publications_item_title {
    gap: 0.5rem;
    font-size: 1rem;
  }

  .publications_item_author {
    font-size: 0.9rem;
  }
}

@media (min-width: 430px) {
  .publications_item_type {
    font-size: 0.7rem;
  }

  .publications_item_title {
    gap: 0.5rem;
    font-size: 1rem;
  }

  .publications_item_author {
    font-size: 0.9rem;
  }
}

@media (min-width: 768px) {
  .publications_items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .publications_item {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

  .publications_item:nth-child(n + 7) {
    display: grid;
  }
}

@media (min-width: 1024px) {
  .publications_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }

  .publications_item:nth-child(n + 5) {
    display: grid;
  }
}

@media (min-width: 1280px) {
}

@media (min-width: 1440px) {
}

@media (min-width: 1600px) {
}

@media (min-width: 1920px) {
}

@media (min-width: 2560px) {
}
