@import "tailwindcss";

:root {
  /* Custom brand colors */
  --color-background: #fdfdfd;
  --color-primary: #ed126f;
  --color-accent: #ffb020;
  --color-font-primary: #0b0b0b;
  --color-font-secondary: #262626;
  /* Navbar height - will be updated by JavaScript */
  --nav-h: 80px;
}

@theme inline {
  --font-family-poppins: var(--font-poppins);

  --color-background: var(--color-background);
  --color-primary: var(--color-primary);
  --color-accent: var(--color-accent);
  --color-font-primary: var(--color-font-primary);
  --color-font-secondary: var(--color-font-secondary);

  /* Custom brand colors for Tailwind */
  --color-primary: #ed126f;
  --color-accent: #ffb020;
  --color-font-primary: #0b0b0b;
  --color-font-secondary: #262626;
}

body {
  background: var(--color-background);
  color: var(--color-font-primary);
  font-family: var(--font-poppins), sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.title {
  position: relative;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 800;
  color: var(--color-font-primary);
  margin-bottom: 1.5rem;
}

.title-accent::before {
  content: "";
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  height: 0.3em;
  background-color: var(--color-primary);
  border-radius: 0.1em;
  z-index: -1;
}

.text {
  font-size: 0.75rem;
  color: var(--color-font-secondary);
}

@media (min-width: 375px) {
  .title {
    font-size: 2rem;
    margin-bottom: 1.8rem;
  }

  .text {
    font-size: 0.9rem;
  }
}

@media (min-width: 412px) {
  .title {
    font-size: 2.2rem;
    margin-bottom: 2rem;
  }

  .text {
    font-size: 1rem;
  }
}

@media (min-width: 430px) {
  .title {
    font-size: 2.4rem;
  }

  .text {
    font-size: 1.1rem;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  .text {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: 2.8rem;
    margin-bottom: 2rem;
  }

  .text {
    font-size: 1.2rem;
  }
}

@media (min-width: 1280px) {
  .title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .text {
    font-size: 1.3rem;
  }
}

@media (min-width: 1440px) {
  .title {
    font-size: 3.2rem;
    margin-bottom: 2.5rem;
  }

  .text {
    font-size: 1.4rem;
  }
}

@media (min-width: 1600px) {
  .title {
    font-size: 3.4rem;
    margin-bottom: 3rem;
  }

  .text {
    font-size: 1.6rem;
  }
}

@media (min-width: 1920px) {
  .title {
    font-size: 3.6rem;
    margin-bottom: 3.5rem;
  }

  .text {
    font-size: 1.8rem;
  }
}

@media (min-width: 2560px) {
  .title {
    font-size: 4.5rem;
    margin-bottom: 6rem;
  }

  .text {
    font-size: 2rem;
  }
}
